<nav>
  <a class="nav" href= "/logout">Log out</a>
  <a class="nav" href= "/">Home</a>
  <a class="nav" href= "/recipes">Recipe Search</a>
  <a class="nav" href= "/myRecipes">Custom Recipes</a>
  <a class="nav" href= "/calendar">Plan Meals</a>
  <a class="nav" href= "/shoppingList">Shopping List</a>
  <a class="nav" href= "/fridge">Virtual Fridge</a>
  <a class="nav" href= "/bmi">BMI Calculator</a>
</nav>