<nav>
  <a class="nav" id="homeNavButton" href= "/">Home</a>
  <a class="nav" href= "/ingredients">Ingredients</a>
  <a class="nav" href= "/myRecipes">Recipes</a>
  <a class="nav" href= "/calendar">Meal Calendar</a>
  <a class="nav" href= "/shoppingList">Shopping List</a>
  <a class="nav" href= "/fridge">Virtual Fridge</a>

  <a class="nav" id="logoutNavButton" href= "/logout">Log out</a>
  <a class="nav" id="profileNavButton" href= "/bmi">Profile</a>

</nav>

<style>
  nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #B9BBC1;
    top: 0;
    width: 100%;
    position: absolute;
}

.nav {
    float: left;
    display: block;
    color: black;
    text-align: center;
    text-decoration: none;
    padding: 14px 20px;
}

#homeNavButton {
color: rgb(91, 138, 167);
font-weight: bold;
}

#profileNavButton {
color: rgb(91, 138, 167);
float: right;
font-weight: bold;
}

#logoutNavButton {
color: rgb(148, 22, 22);
float: right;
font-weight: bold;
}
</style>