<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet">
  <link href="/css/main.css" rel="stylesheet">
  <title>Meal Planner</title>
</head>
<body>
  <nav class="navbar">
      <%- include("partials/navbar.ejs") %>
  </nav>
  
  <div class="container mt-4">
    <h1>Virtual Fridge</h1>
    <div id="fridge-items-container"></div>
  </div>

  <!-- Fridge Modal -->
  <div id="item-modal" class="modal fridge-modal">
    <div class="modal-content">
      <div class="modal-header">
        <span class="close">&times;</span>
      </div>
      <form id="edit-item-form">
        <input type="hidden" id="fridge-id">
        <div class="input-group">
          <label for="item-name" class="form-label">Item Name</label>
          <input type="text" class="form-control" id="item-name" required>
        </div>
        <div class="input-group">
          <label for="item-quantity" class="form-label">Quantity</label>
          <input type="number" class="form-control" id="item-quantity" required>
        </div>
        <div class="input-group">
          <label for="item-unit" class="form-label">Unit</label>
          <input type="text" class="form-control" id="item-unit" required>
        </div>
        <div class="input-group">
          <label for="item-expiry" class="form-label">Expiry Date</label>
          <input type="date" class="form-control" id="item-expiry">
        </div>
        <div class="input-group">
          <label for="shopping-list-id" class="form-label">Shopping List ID</label>
          <span id="shopping-list-id" class="form-text"></span>
        </div>
        <div class="input-group">
          <label for="is-opened" class="form-label">Opened On </label>
          <input type="datetime-local" class="form-control" id="is-opened">
        </div>
        <div class="input-group form-check">
          <label class="form-check-label" for="is-leftover">Is This A Leftover?</label>
          <input type="checkbox" class="form-check-input" id="is-leftover">
        </div>
        <!-- Separator Line -->
        <div class="modal-separator"></div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" id="delete-item-btn">Delete Item</button>
        </div>
      </form>
    </div>
  </div>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="/js/fridge.js"></script>
</body>
</html>