<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
<link href="/css/style.css" rel="stylesheet">
  <title> My Meal Prep CST336 Final Project </title>
</head>
  
<body>
   <%- include("partials/navbar.ejs") %>
   <br>
  <form id="recipeSearchFrame"action="/recipeResults">
     <h2>Find a Recipe</h2>
     <br>
     <input type="text" name="recipeSearch" class="border-light rounded" placeholder="Search for Recipes">
     <br><br>
     <button class="btn btn-light"> Search For Recipe!</button>
  </form>
  <br><br>

 
</body>
</html>