body {
  margin-top: 62px;
  background: #f8f9fa;
  font-family: 'Arial', sans-serif;
}

.week-selector {
  display: flex;
  justify-content: space-between;
  margin: 0 20px;
  align-items: center;
}

#prev-week, #next-week {
  margin: 0 15px;
}

#week-select {
  padding: 5px 10px;
  font-size: 1rem;
}

.calendar-container {
  display: flex;
  justify-content: center;
  align-items: flex-start; /* This ensures that each column can grow independently */
  margin: auto;
  margin-top: 10px;
  gap: 10px;
  max-width: calc(100% - 40px);
  padding: 0 20px;
}


.day-column {
  display: flex;
  flex-direction: column;
  min-width: 150px;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 5px;
  background-color: #ffffff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  align-items: flex-start; /* Aligns items to the start, allowing different heights */
}


.day-header {
  text-align: center;
  font-weight: bold;
  font-size: 1.2rem;
  margin-bottom: 10px;
  color: #333;
  background-color: #f2f2f2;
  padding: 10px 0;
  border-radius: 4px;
  width: 100%;
}

.add-meal-button {
  padding: 5px 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin: auto;
  font-size: 0.8rem;
  color: #495057;
  background-color: #e9ecef;
  border: 1px solid #e9ecef;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.5s;
}

.add-meal-button:hover {
  background-color: #adb5bd;
  border: 1px solid #adb5bd;
}

.meal-dropdown {
  display: none;
  position: absolute;
  background-color: #ffffff;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 10;
}

.meal-tag {
  display: flex;
  flex-direction: column; /* Stacks children vertically */
  width: 100%;
  min-height: 40px;
  padding: 5px;
  margin-top: 5px;
  background-color: #e9ecef;
  border-radius: 4px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  font-size: 0.85rem;
  align-self: start; /* Aligns the meal tag independently at the start of the container */
}


.meal-recipe-select {
  width: 100%;
  margin-bottom: 5px;
  border: 1px solid #ced4da;
  border-radius: 4px;
  padding: .375rem .75rem;
}

.meal-time-input {
  width: calc(100% - 15px);
  border: 1px solid #ced4da;
  border-radius: 4px;
  padding: .375rem .75rem;
  display: inline-block;
}

.meal-remove-btn {
  width: 15px;
  height: 15px;
  border: none;
  background-color: #e9ecef;
  color: #495057;
  border-radius: 4px;
  padding: 0;
  cursor: pointer;
  font-size: 0.85rem;
  display: inline-block;
  vertical-align: top;
}

.meal-remove-btn:hover {
  background-color: #ced4da;
}

.save-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.save-button {
  padding: 10px 20px;
  font-size: 1rem;
  color: white;
  background-color: #6c757d;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.save-button:hover {
  background-color: #5a6268;
}

/* Additional styles can be added below as needed for customizing other elements */
