body {
    text-align: center;
    background: #98D7C2;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: black;
    font-family: sans-serif;
    padding-top: 50px;
}

a {
    text-decoration: none;
}

.btn {
    border-radius: 100px;
}

img {
    width: 200px;
    height: 200px;
}

a:hover {
    background-color: lightseagreen;
    color: white;
}

#today-section {
    display: flex;
    justify-content: space-around; /* This will distribute space around the meal boxes */
    flex-wrap: wrap; /* Allow the boxes to wrap if needed */
    margin-bottom: 20px; /* Space between this section and the next */
}

.meal-box {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    background-color: white;
    display: inline-flex; /* Align meal boxes side by side */
    flex-direction: column;
    align-items: center;
    flex: 1; /* Allows the boxes to grow and take up equal space */
    max-width: 300px; /* Prevents the boxes from growing too large */
    box-sizing: border-box;
    margin-right: 10px; /* Spacing between meal boxes */
}

#quick-actions-section {
    text-align: center; /* Center the buttons */
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px; /* Space between this section and the next */
}

.quick-action-btn {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px 10px;
    background-color: #B9BBC1;
    cursor: pointer;
    transition: 0.3s;
    margin-bottom: 10px;
}

.quick-action-btn:hover {
    background-color: #A9A9A9;
}

.btn-edit {
    background-color: #A9A9A9;
    border: none;
    color: black;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn-edit:hover {
    background-color: #96999B;
}

#title {
    text-align: center;
}

#top-section, #middle-section, #bottom-section {
    border: 1px solid blue;
    padding: 20px;
    margin-bottom: 20px;
}

#week-section, #nutrition-section {
    text-align: center;
    border: 1px solid purple;
    margin: 10px 0;
}

#today-section, #quick-actions-section {
    border: 1px solid green;
}