body {
    text-align: center;
    background: linear-gradient(#c0cccb, #89918f);
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: black;
    font-family: sans-serif;
  }
  
  nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #B9BBC1;
    width: 100%;
    position: relative;
}

.nav {
    float: left;
    display: flex;
    color: darkslategray;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#ingredientFrame{
    display: inline-block;
    margin: 10px;
    width: 500px;
    text-align: center;
    background-color: #B9BBC1;
  }